<ion-header>
  <ion-toolbar>
    <ion-title>chofer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" >
  <ion-card class="ion-text-center">
    <ion-card-title id="bienve">
      <h1></h1> 
      <h4>Publicar movilizacion</h4>
    </ion-card-title>
<!-- contenido -->
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Capacidad pasajeros</ion-label>
          <ion-input type="number" [(ngModel)]="data.viaje.capacidadViaje"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Color de vehiculo</ion-label>
          <ion-input type="text" [(ngModel)]="data.viaje.vehiculoViaje"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Matricula</ion-label>
          <ion-input type="text" [(ngModel)]="data.viaje.matriculaViaje"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Hora de salida</ion-label>
          <ion-input type="time" [(ngModel)]="data.viaje.salidaViaje"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">costo por persona</ion-label>
          <ion-input type="number" [(ngModel)]="data.viaje.costoViaje"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="publicar()">Publicar</ion-button>
          </ion-col>
        </ion-row> 
        <!--<ion-img  id="mapa"src="assets/img/mapaejemplo.png"/>-->
      </ion-card-content>    
  </ion-card>
  
  <ion-card>
    <ion-card-title id="bienve">
      <!-- <h1></h1>  -->
      <h4>Movilizaciones publicadas</h4>
    </ion-card-title>
    <ion-card-content>
      <div *ngFor="let publicacion of publicaciones">
        <h3>{{publicacion.viaje.conductorViaje}}</h3>
        <h3>{{publicacion.viaje.capacidadViaje}}</h3>
        <h3>{{publicacion.viaje.vehiculoViaje}}</h3>
        <h3>{{publicacion.viaje.matriculaViaje}}</h3>
        <h3>{{publicacion.viaje.salidaViaje}}</h3>
        <h3>{{publicacion.viaje.costoViaje}}</h3>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>