<ion-header>
  <ion-toolbar>
    <ion-title>alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" >
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title id="bienve">
        <h1>¡Bienvenido {{data.usuario}}!</h1> 
        <h4>Buscar movilizacion disponible</h4>   
        <ion-button  expand="block" >Disponibles</ion-button>  
      </ion-card-title>
<!-- contenido -->
        <ion-card-content>       
          <!--<ion-img  id="mapa"src="assets/img/mapaejemplo.png"/>-->
        </ion-card-content>    
    </ion-card>
  </div>      
</ion-content>