<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title></ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full">
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input type="text" minlength="3" maxlength="20" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" minlength="3" maxlength="10" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-row>

        <ion-col>
          <ion-button id="ingre" expand="full" (click)="login()">Ingresar</ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="full" (click)="recuperar()">Recuperar Contraseña</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="notfound()">Not found</ion-button>
        </ion-col>

      </ion-row>
      
    </ion-card-content>
  </ion-card>
  
</ion-content>
